@import "./reset.css";

/* ---------------------------------------------------- */
/*                                                      */
/* ---------------------------------------------------- */

:root {
    --app-main-blue: #257aff;
}

main {
    background: url(../img/photo-1448630360428-65456885c650.avif) center center / cover no-repeat;
    height: 100vh;
    display: grid;
    place-items: center;
}

.hidden {
    visibility: hidden;
}

.load-screen {
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100%;
    background: rgb(20 24 28 / .8);
    display: grid;
    place-items: center;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
@keyframes spin {
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

span {
    background: var(--app-main-blue);
    background: linear-gradient(90deg, rgba(102,162,255,1) 0%, rgba(37,122,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overlay {
    display: grid;
    place-items: center;
    height: 100vh;
    background: rgb(20 24 28 / .55);
    width: 100%;
}

.login-page {
    display: flex;
}

.login {
    height: 60vh;
    width: 60vh;
    right: 55vh;
    background-color: #fff;
    box-shadow: 0 0 10px var(--app-dark-bg);
}

img {
    height: 60vh;
    width: 80vh;
}

.login-wrapper {
    display: grid;
    place-items: center;
    justify-content: center;
    padding: 20px;
}

.login-wrapper > * {
    margin-bottom: 15px;
}

.info {
    margin-bottom: 30px;
}


form {
    display: grid;
}

.border {
    border: 1px solid var(--app-light-bg);
    padding: 0 10px;
}

input[type="text"] {
    height: 40px;
    width: 300px;
    padding: 0 10px;
}

i {
    color: #a4a4a4;
}

.btn-wrapper {
    display: flex;
    gap: 10px;
}

button {
    height: 36px;
    width: 50%;
    font-size: 15px;
    border-radius: 5px;
}

.user-login {
    background: var(--app-main-blue);
    background: linear-gradient(90deg, rgba(102,162,255,1) 0%, rgba(37,122,255,1) 100%);
    color: #fff;
}

.user-login:hover {
    background: rgb(64, 124, 213);
}

.user-create {
    background-color: #fff;
    color: var(--app-main-blue);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.frgt-pw {
    display: grid;
    justify-content: right;
    padding: 5px 0 20px 0;
    font-size: 12px;
    color: #a4a4a4;
    cursor: pointer;
}

.hint, .error {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.error {
    color: var(--app-red);
}

.login-options {
    display: flex;
    gap: 15px;
    position: absolute;
    bottom: 25%;
    font-size: 14px;
}

ul {
    display: flex;
    gap: 15px;
    color: var(--app-main-blue);
    cursor: pointer;
}

li:hover {
    text-decoration: underline var(--app-main-blue);
}


.img-wrapper h1{
    position: absolute;
    right: 350px;
    margin-top: 20px;
    background: var(--app-main-blue);
    background: linear-gradient(90deg, rgba(102,162,255,1) 0%, rgba(37,122,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

