@import "./reset.css";

/* ---------------------------------------------------- */
/*                                                      */
/* ---------------------------------------------------- */

:root {
    --app-main-blue: #257aff;
    --app-dark-bg: #1a1d28;
    --app-light-bg: #f0f2f4;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
}

body {
    height: 100vh;
    background-color: var(--app-light-bg);
}

.container {
    width: min(100% - 30px, 1480px);
    margin-inline: auto;
}
/* ---------------------------------------------------- */
/*     Header                                           */
/* ---------------------------------------------------- */
header {
    height: 56px;
    background-color: #fff;
}

.flexbox {
    display: flex;
}

.title {
    width: 33%;
    height: 40px;
}

.title h1 {
    font-size: 22px;
    font-weight: 400;
    color: var(--app-main-blue);
    line-height: 56px;
    letter-spacing: 0.2px;
}

nav {
    width: 30%;
    text-align: right;
}

nav ul {
    list-style: none;
}

nav ul li{ 
    display: inline;
    line-height: 56px;
    cursor: default;
}

nav ul li a {
    font-size: 14px;
    letter-spacing: 1px;
    background: var(--app-main-blue);
    background: linear-gradient(90deg, rgba(102,162,255,1) 0%, rgba(37,122,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

nav ul li a:hover {
    text-decoration: underline #add8e6;
}

nav ul li + li {
    margin-left: 18px;
}
/* ---------------------------------------------------- */
/*     Top-Nav Bar                                      */
/* ---------------------------------------------------- */
.resp-nav {
    display: none;
}


span {
    font-size: 22px;
    color: var(--app-main-blue);
    font-weight: 600;
}

.fa-solid {
    color: var(--app-main-blue);
    margin: auto 10px auto 0px;
    font-size: 22px;
}


/* ---------------------------------------------------- */
/*     Post Content Field                               */
/* ---------------------------------------------------- */

h3 {
    display: flex;
    color: #000;
    font-size: 28px;
    margin: 10px 0;
}

picture{
    display: grid;
    justify-content: right;
    width: 38%;
    margin-top: 8px;
}

.avatar-pic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.user-img {
    padding: 15px;
}

.post-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-profile, .gen-profile {
    position: absolute;
    z-index: 1;
    margin-top: 50px;
}

.my-profile {
    background-color: #fff;
    left: 20px;
    height: 500px;
    width: 300px;
    display: grid;
    justify-content: center;
    gap: 10px;
    padding: 25px;
}

.gen-profile {
    right: 20px;
    overflow-y: scroll;
    background-color: #fff;
    height: 500px;
    width: 300px;
    display: grid;
    justify-content: center;
    gap: 10px;
}

.gen-follow {
    margin-top: 10px;
    color: rgb(255, 255, 255, 1);
    background: var(--app-main-blue);
    background: linear-gradient(90deg, rgba(102,162,255,1) 0%, rgba(37,122,255,1) 100%);
    height: 28px;
    width: 100px;
    border-radius: 100px;
}

.gen-profile {
    padding: 20px;
}

.gen-title {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--app-dark-bg);
}

.gen-title h1 {
    font-size: 26px;
}

.gen-users {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.gen-desc h2 {
    width: 100%;
    font-size: 22px;
}


.gen-users img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.fa-pencil {
    color: #a4a4a4;
    text-align: right;
    font-size: 16px;
}

.profile-pic {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.user-btn {
    display: flex;
    gap: 10px;
}

.follow {
    color: rgb(255, 255, 255, 1);
    background: var(--app-main-blue);
    background: linear-gradient(90deg, rgba(102,162,255,1) 0%, rgba(37,122,255,1) 100%);
    height: 28px;
    width: 50%;
    border-radius: 100px;
}

.unfollow {
    background: var(--app-main-blue);
    background: linear-gradient(90deg, rgba(102,162,255,1) 0%, rgba(37,122,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 28px;
    width: 50%;
    border-radius: 100px;
    
}

.follow-desc {
    display: flex;
    gap: 20px;
    width: 100%;
}

.profile-info {
    display: flex;
    width: 100%;
}

.profile-info p {
    font-size: 16px;
    color: #a4a4a4;
    font-weight: 400;
}

.my-posts, .my-followers{
    border: 1px solid var(--app-light-bg);
}



.my-posts {
    width: 50%;
    text-align: center;
}

.my-followers {
    text-align: center;
    width: 50%;
}

.fa-brands {
    padding-right: 5px;
}

.fa-github {
    color: #000;
}

.fa-twitter {
    color: #1DA1F2;
}

li {
    list-style: none;
}

.user-links li a{
    overflow: hidden;
    color: #0645AD;
}

h2 {
    width: 100%;
}


.form-wrapper{
    background-color: #fff;
    width: 100%;
    padding: 12px 12px 12px 15px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    margin-top: 50px;
}

label {
    padding-top: 12px;
    display: flex;
}

label h2 {
    font-size: 19px;
    margin-left: 6px;
    font-weight: 400;
    color: #fff;
}

.error-output {
    color: rgb(255, 0, 0);
    font-size: 13px;
    margin: 15px 0;
    text-align: center;
}

/* ---------------------------------------------------- */
/*     Choose file and post button                      */
/* ---------------------------------------------------- */

.file-filename {
    width: 100%;
    display: flex;
}

#file-upload-filename {
    font-size: 13px;
    text-align: left;
    font-weight: 600;
    color: #fff;
    margin-bottom: 2px;
}

.fa-image {
    font-size: 24px;
    color: rgb(211, 211, 211);
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

textarea {
    background-color: #fff;
    color: #000;
    resize: none;
}

.btn-wrapper {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.post-btn{
    height: 28px;
    width: 100px;
    color: rgb(255, 255, 255, 1);
    background: var(--app-main-blue);
    background: linear-gradient(90deg, rgba(102,162,255,1) 0%, rgba(37,122,255,1) 100%);
    border-radius: 5px;
}

.post-btn:hover {
    background: rgb(64, 124, 213);
}

/* ---------------------------------------------------- */
/*     User post styling                                */
/* ---------------------------------------------------- */

.post {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

.content {
    background-color: #fff;
    width: 100vh;
    margin: 10px 0;
}

.content-header {
    display: flex;
    padding: 10px;
}

.content-header img {
    margin-right: 10px;
}

.content-header h1 {
    font-weight: 400;
    line-height: 42px;
}

.content-header p {
    display: inline;
    margin-left: auto;
}

.post-content {
    padding: 10px 0;
}
.user-output{
    padding: 10px 15px;
}

h4 {
    font-weight: 400;
    color: rgb(65, 65, 65);
    text-align: right;
    padding: 0 7px 5px 0;
}

/* ---------------------------------------------------- */
/* Footer
/* ---------------------------------------------------- */

footer {
    background-color: var(--app-dark-bg);
    display: flex;
    justify-content: center;
    position: relative;
    top: 50vh;
    width: 100%;
}

.footer-nav{
    width: 100%;
}

.footer-nav a {
    color: rgb(255, 255, 255);
}

.social-media{
    text-align: center;
}


.copyright{
    text-align: center;
}

.footer-icon{
    font-size: 24px;
}

/* ---------------------------------------------------- */
/*     Media Queries                                    */
/* ---------------------------------------------------- */

@media (max-width: 1180px ){
    .post-wrapper {
        display: block;
    }
    .user-sub-info {
        width: 100%;
        position: none;
        right: 0;
    }
}

@media (max-width: 833px) {
    header {
        width: 100%;
    }
    .title {
        width: 50%;
    }
    picture {
        width: 50%;
    }
    nav {
        display: none;
    }
    .resp-nav {
        display: flex;
        width: 100%;
    }
    .resp-nav ul li a {
        font-size: 13.5px;
        font-weight: 600;
        color: #000;
    }
    .content {
        width: 100%;
    }

    .post-wrapper {
        display: block;
    }
    .user-sub-info {
        width: 100%;
        position: none;
        right: 0;
    }
}

@media (max-width: 428px){
    .content-header h1 {
        font-size: 1.1rem;
        padding-right: 40px;
    }

    .content-header p {
        font-size: .7rem;
    }
}